@charset "UTF-8";
.animate {
  font-size: 1.1rem; }

.perfil {
  background-color: #8bc0ee;
  height: 430px; }
  .perfil img {
    display: block;
    margin: auto; }
  @media screen and (max-width: 425px) {
    .perfil img {
      width: 100px; } }

.car__tamaño {
  background-color: #8bc0ee;
  height: 430px;
  border-radius: 0; }

.eventos div p {
  font-size: 1.1rem; }

.eventos__bg {
  background-color: #8bc0ee; }

@media screen and (max-width: 425px) {
  .movimiento {
    width: 11rem; }
    .movimiento img {
      width: 150px;
      display: block;
      margin: auto;
      padding-top: 1rem; }
    .movimiento p {
      display: none; } }

.entradas {
  min-height: 600px;
  height: 100vh; }

.unetenos {
  min-height: 600px;
  height: 100vh; }

.espacio {
  background-color: #8bc0ee;
  margin-top: 8rem;
  padding: 3rem; }

body {
  background-color: #e0e0e0e0;
  font-family: 'Times New Roman', Times, serif; }
