body{
    background-color: #e0e0e0;
}
.espacio{
    height: 100vh;
} 
.bordes{
    box-shadow: -11px 9px 28px 3px rgba(23,23,6,0.75);
    -webkit-box-shadow: -11px 9px 28px 3px rgba(23,23,6,0.75);
    -moz-box-shadow: -11px 9px 28px 3px rgba(23,23,6,0.75);
}
.entradas{
    min-height: 100vh;
    height: auto;
}
@media screen and (min-width: 1020px) {
    .sumate{
        display: none;
    }
    
}