body{
    background-color: #e0e0e0;
}
.espacio{
    height: 100vh;
} 
.bordes{
    box-shadow: -11px 9px 28px 3px rgba(23,23,6,0.75);
    -webkit-box-shadow: -11px 9px 28px 3px rgba(23,23,6,0.75);
    -moz-box-shadow: -11px 9px 28px 3px rgba(23,23,6,0.75);
}
.entradas{
    min-height: 100vh;
    height: auto;
}
.eventos{
    min-height: 100vh;
    height: auto;
}
.imagenes {
    width: 250px;
    margin:auto;
    display:block;
}
.perfil {
    padding-top: 15px;
    background-color: coral;
    border-radius: 5px;
    height: 430px;

}
.car__tamaño {
    height: 430px;
    background-color: coral;
}
.animate:hover{
    background-color:#727224;
    color:#75751a;
}
.movimiento:hover {
    transform: scale(0.8);
    transition: 0.7s;
}
.teatro {
    background-color: #e0e076;
}
.txt:hover {
    color:navy
}





@media screen and (min-width: 1020px) {
    .sumate{
        display: none;
    }
    
}
