@mixin carrusel($display, $margin, $width, $height) {
    display: $display;
    margin: $margin;
    width: $width;
    height: $height;
}
@mixin imgzises ($width, $display, $margin){
    width: $width;
    display: $display;
    margin: $margin;
}
.eventos{
    div{
        p{
            font-size: 1.1rem;
        }
    }
}
.eventos__bg{
    background-color: 
    $bg;
}

.carrusel__eventos{
    @include carrusel(block, auto, 500px, 300px)
    .imagenes{
        @include imgzises(150px, block, auto)
    }
}
