@import "variables";
@import "index";
@import "eventos";
@import "entradas";
@import "unete";
@import "responsive";
body{
    background-color: $bg1;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1,3;
}
